
<%  if(typeof errors != 'undefined' ) {   %>
    <% errors.forEach((er)=>{   %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= er.msg  %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
  <%   });  }  %>

<% if(success_msg !='' ) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
 <% } %>



   
<% if(error != '' )  {   %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error  %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%  }  %>

    
<%  if(typeof req_status != 'undefined' ) {   %>
    <% req_status.forEach((er)=>{   %>
       <% if(er.val === 1) { %>
        <div class="alert alert-success  alert-dismissible fade show d-flex justify-content-evenly" role="alert">
            <%= er.msg %>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
     <%   } else { %>
        <div class="alert alert-warning  alert-dismissible fade show d-flex justify-content-evenly" role="alert">
            <%= er.msg %>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
    
        

  <%   } });  }  %>
    
   
  